USE [master]
GO
/****** Object:  Database [SEOAutomation]    Script Date: 6/9/2016 6:08:08 PM ******/
CREATE DATABASE [SEOAutomation]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SEOAutomation', FILENAME = N'F:\SEOAutomation\SEOAutomation.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SEOAutomation_log', FILENAME = N'F:\SEOAutomation\SEOAutomation_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SEOAutomation].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SEOAutomation]
GO
/****** Object:  Table [dbo].[AdwordConfig]    Script Date: 6/9/2016 6:08:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdwordConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[URL] [nvarchar](1000) NULL,
	[KeyWord] [nvarchar](max) NULL,
	[LinkQuantityClick] [nvarchar](1000) NULL,
	[IntervalClick] [nvarchar](60) NULL,
	[IsBackLink] [bit] NULL,
	[TextLink] [nvarchar](max) NULL,
	[IsAdsen] [bit] NULL,
	[PageLimit] [int] NULL,
 CONSTRAINT [PK_AdwordConfig] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
